/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Oxygen", sans-serif;
}

/* layout */
/* .container > :nth-child(n) {
  border: 1px black solid;
} */

.container {
  margin: 5px 18px;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(50 auto);
  background-color: #aac6fc;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: white;
  width: 80%;
  margin: 50% auto;
  padding: 0 12px 20px 12px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* block */
.header {
  font-family: "Roboto Slab", serif;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.headline {
  padding: 1em 0.5em;
  text-align: center;
  color: black;
}

.subheading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits {
  width: 50%;
  padding: 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero {
  padding-top: 20px;
  width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

/* element */
.header__logo {
  height: 25px;
  margin-right: 8px;
}

.benefits__icon {
  width: 50px;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.cta__button {
  font-family: "Oxygen", sans-serif;
  color: black;
  background-color: #f6e049;
  padding: 10px 90px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(95, 23, 23, 0.1);
}

.modal__closeBtn {
  font-size: 2rem;
  cursor: pointer;
}

.modal__image {
  width: 100%;
}

.form__headline {
  font-weight: bold;
  margin-bottom: 1em;
}

.form__label {
  display: flex;
  margin: 25px 0;
}

.form__input {
  border: 0.5px solid rgb(167, 167, 167);
  height: 1.75em;
  width: 175px;
  margin-left: 10px;
}

.form__submitBtn {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #aac6fc;
  border-radius: 3px;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
}

/* ------------------------ */
/* ---  Desktop Styles  --- */

@media only screen and (min-width: 601px) {
  /* layout */
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 450px 75px;
  }

  /* block */
  body {
    font-size: 1.35rem;
  }

  .header {
    grid-column: 1 / 3;
    font-size: 1.6rem;
  }

  .hero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 25px 25px;
    width: 100%;
  }

  .headline {
    grid-column: 1 / 2;
    padding: 0;
    text-align: center;
    font-size: 2.25rem;
  }

  .subheading {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
  }

  .benefits {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em 0;
  }

  .cta {
    margin-top: 0;
  }

  /* element */
  .benefits__icon {
    width: 50px;
    margin: 0 1.5em 0 2.5em;
  }

  .cta__button {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .cta__copy {
    font-size: 1rem;
  }
}
